.about-me {
    background: #E7E8E8;
}

.about-me section {
	position: relative;
	text-align: center;
	margin-bottom: 1px;
	overflow: hidden;
}

.about-me section input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.about-me section label {
	width: 100%;
    border-radius: 4px;
    border: 0;
    background: #FD9600;
	position: relative;
	display: block;
	font-weight: bold;
	line-height: 3;
	cursor: pointer;
	margin-bottom: 1px;
}

.about-me section label:hover {
	opacity: 0.6;
}

.about-me .summary label {
	margin-top: 20px;
}

.about-me .skills label {
	margin-bottom: 5px;
}

.about-me section .heading-content {
	max-height: 0;
	overflow: hidden;
	padding: 0 3%;
	transition: max-height 0.35s;
}

.about-me section input:checked ~ .heading-content {
	max-height: 200em;
}

.about-me section .heading-content img {
	max-width: 100%;
}

.about-me h2  {
	text-align: center;
}

.about-me h3 {
	display: none;
}

.about-me .containerForMiddleScreen {
	display: none;
}




@media screen and (min-width: 700px) {

.about-me .summary, 
.about-me .motivation, 
.about-me .skills {
	display: none;
}

.about-me h3 {
	display: block;
	text-align: center;
}

.about-me .containerForMiddleScreen {
	display: block;
}

.about-me .containerForMiddleScreen section {
	display: grid;
	grid-template: 1fr / 1fr 2fr;
	grid-gap: 10px;
	padding-bottom: 20px;
	margin: 0 2%;
	text-align: center;
}

.about-me .containerForMiddleScreen section img {
	max-width: 100%;
}

.about-me .containerForMiddleScreen section div {
	display: grid;
	align-content: center;
}

.about-me .containerForMiddleScreen section div h3 {
	padding: 0;
}

.about-me .containerForMiddleScreen .middleScreenHeading-1 {
	margin-top: 30px;
}

.about-me .containerForMiddleScreen .middleScreenHeading-2 {
	grid-template: 1fr / 2fr 1fr;
}

.about-me .containerForMiddleScreen .middleScreenHeading-2 img {
	order: -1;
}

.about-me .containerForMiddleScreen .middleScreenHeading-3 {
	padding-bottom: 20px;
}

}

@media screen and (min-width: 800px) {

.about-me .containerForMiddleScreen section div p {
	font-size: 18px;
}

.about-me .containerForMiddleScreen section div h3 {
	font-size: 25px;
}

}

@media screen and (min-width: 960px) {

.about-me h2 {
	font-size: 40px;
}

.about-me .containerForMiddleScreen section div p {
	font-size: 22px;
}

.about-me .containerForMiddleScreen section div h3 {
	font-size: 32px;
}

}























