footer {
	background: #fff;
}

footer section {
	background: #E7E8E8;
	text-align: center;
}

footer h2 {
	color: #000;
	margin-bottom: 17px;
}

footer section span {
	display: none;
}

footer form label input {
	display: block;
	height: 25px;
	width: 230px;
	margin: 10px auto;
	padding: 2px;
	border: 1px solid #999;	
}

footer form textarea {
	display: block;
	resize: none;
	width: 230px;
	margin: 5px auto;
	border: 1px solid #999;
}

footer form textarea:hover,
footer form label input:hover {
	border: 1px solid #faca45;

}

/*buttons*/
footer section .buttons {
	max-width: 236px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

footer section .buttons input {
	border: 0;
    border-radius: 5px;
    margin: 5px 0;
    width: 115px;
    height: 30px;
    font-size: 1.2em;
    background: #fbbb00;
    box-shadow: 8px 7px 14px black;
}

footer section .buttons input:hover {
	background: #10bef2;
}

/*icons start*/
footer .social_icons {
	text-align: center;
	padding-top: 10px;
	background: #E7E8E8;
}

footer .social_icons p {
	color: #000;
	font-size: 24px;
	margin: 0;
	font-weight: 600;
}

footer .social_icons a {
	text-decoration: none;
	/*display: inline-block;*/
}

footer .social_icons img {
	display: inline-block;
	margin: 5px 10px;
	width: 57px; 
	border-radius: 12px;
}

footer .social_icons img:hover {
	transition-duration: 0.7s;
	transform: scale(1.2, 1.2);
	box-shadow: 13px 6px 16px 0px black;
}
/*icons end*/

footer .fbottom {
	text-align: center;
	background: #000;
	color: #fff;
}

footer .fbottom > p {
	margin: 0;
	padding: 16px 0;
}

footer .fbottom p:last-child {
	display: none;
}




@media screen and (min-width: 500px) {

footer section span {
	display: inline-block;

}

footer form label {
	display: grid;
    grid-template: 1fr / 2fr 3fr;
    grid-gap: 10px;
}

footer form label span {
	margin: auto 0;
    justify-self: end;
    text-shadow: 6px 4px 10px black;
}

footer form label[for="text_area"] span {
	margin: 0;
}

footer form label input {
	margin: 10px 0;	
}

footer form textarea {
	margin: 5px 0;
}

footer section .buttons {
	margin: 0;
	padding-left: 41%;
}

footer .social_icons p {
	font-size: 28px;
}

footer .fbottom p:last-child {
	display: block;
}

footer .fbottom {
	display: flex;
    justify-content: space-between;
    padding: 0 5%;
    text-align: right;
    align-items: center;
}

}



@media screen and (min-width: 600px) {

footer form {
	margin: 0 auto;
    max-width: 450px;
}	

footer form label {
    font-size: 20px;
}

footer .social_icons img {
	margin: 5px 15px;
	width: 70px; 
}

}



@media screen and (min-width: 700px) {

footer section {
	padding-bottom: 25px;
	display: grid;
	grid-template: 'header header'
				   'form icons'
				   / 4fr 2fr ;
}

footer section h2 {
	grid-area: header;
}

footer section form {
	grid-area: form;
}

footer section .social_icons {
	grid-area: icons;
	padding-top: 3px;
    display: grid;
    grid-template: 'header header' 
                   'instagram pinterest' 
                   'facebook skype' 
                   / 1fr 1fr;	
    grid-gap: 10px;
}

footer .social_icons p {
	grid-area: header;
}

footer .social_icons img {
	margin: 0;
	width: 75px; 
}

footer .social_icons a:nth-child(2) {
	grid-area: instagram;
	justify-self: end;
	align-self: flex-end;
} 

footer .social_icons a:nth-child(3) {
	grid-area: facebook;
	justify-self: end;
	align-self: flex-start;
}

footer .social_icons a:nth-child(4) {
	grid-area: skype;
	justify-self: start;
	align-self: flex-start;
}

footer .social_icons a:last-child {
	grid-area: pinterest;
	justify-self: start;
	align-self: flex-end;
}

}



@media screen and (min-width: 850px) {

footer section .social_icons {
    grid-template: 'header header header header' 
                   'instagram facebook pinterest skype'                 
                   / 1fr 1fr;	
    grid-gap: 0 10px;
    margin: 0 15% 9% 0;
}	

footer .social_icons p {
    align-self: center;
}

}

@media screen and (min-width: 1000px) {

footer section .social_icons {
	grid-gap: 0 15px;
}

footer .social_icons img {
	width: 80px; 
}

}