.about-me {
    background: #E7E8E8;
}

.about-me section {
	margin: 0 5%;
	text-align: center;
	padding-bottom: 20px;
}

.about-me section img {
	max-width: 100%;
}

.about-me h3, .about-me h2  {
	text-align: center;
}

.about-me .button {
	width: 100%;
    height: 30px;
    font-size: 1.3em;
    border-radius: 4px;
    border: 0;
    background: #FD9600;
}

.about-me .button:hover {;
	opacity: 0.6;
	cursor: pointer;
}

.about-me .bt1 {
	margin-top: 15px;
}

.about-me .bt2 {
	background: #ffa400;
}

.about-me .bt3 {
	background: #febb00;
}


main .heading-2, main .heading-3 {
	display: none;
}



@media screen and (min-width: 700px) {

.about-me .button {
	display: none;
}

.about-me section {
	margin: 40px 2% 0 2%;
	display: grid;
	grid-template: 1fr / 1fr 2fr;
	grid-gap: 10px;
}

.about-me section div {
	display: grid;
	align-content: center;
}

.about-me .heading-1 {
	padding-bottom: 0;
}

.about-me .heading-2 {
	grid-template: 1fr / 2fr 1fr;
}

.about-me .heading-2 img {
	order: -1;
}

.about-me .heading-3 {
	padding-bottom: 20px;
}



}

@media screen and (min-width: 800px) {

.about-me section div p {
	font-size: 18px;
}

.about-me section div h3 {
	font-size: 25px;
}

}

@media screen and (min-width: 960px) {

.about-me h2 {
	font-size: 40px;
}

.about-me section div p {
	font-size: 22px;
}

.about-me section div h3 {
	font-size: 32px;
}

}























